{% extends "/layouts/base_layout.twig" %}

{# HTML Header #}
{% block page_header %}
    {% set title = "Homepage" %}

    {% set meta_site_name = "Nebalus's Website" %}
    {% set meta_author = "Nebalus" %}
    {% set meta_application = "Portfolio" %}
    {% set meta_theme_color = "#04D4F0" %}
    {% set meta_title = "Homepage" %}
    {% set meta_description = "This is the homepage from Nebalus" %}
    {#
    {% set meta_image = "Nebalus's Website" %}
    {% set meta_image_height = "Nebalus's Website" %}
    {% set meta_image_width = "Nebalus's Website" %}
    {% set meta_image_type = "Nebalus's Website" %}
    #}

    {{ parent() }}
{% endblock %}

{# HTML Body #}
{% block bodymain %}
<div class="container mx-auto">
  <div class="object-right w-96 bg-white shadow rounded hover:bg-sky-700">
      w-96
  </div>
</div>
<div class="py-8 px-8 max-w-sm mx-auto bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-y-0 sm:space-x-6">
  <img class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0" src="/img/erin-lindford.jpg" alt="Woman's Face" />
  <div class="text-center space-y-2 sm:text-left">
    <div class="space-y-0.5">
      <p class="text-lg text-black font-semibold">
        Erin Lindford
      </p>
      <p class="text-slate-500 font-medium">
        Product Engineer
      </p>
    </div>
    <button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">Message</button>
  </div>
</div>
{% endblock %}